/*---——— Start Global ———---*/
:root {
  --main-color: #2196f3;
  --alt-color: #ececec;
  --section-padding: 60px;
  --transition: 0.3s;
  --gap: 40px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  text-transform: uppercase;
  font-size: 30px;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 80px;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}
@media (max-width: 767px) {
  .main-title {
    font-size: 22px;
  }
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: go-right 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: go-left 0.5s linear forwards;
}
.triangles {
  position: relative;
}
.triangles::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px;
}
/*---——— End Global ———---*/
/*---——— Start Responsive Dimensions ———---*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
/*---——— End Responsive Dimensions ———---*/
/*---——— Start Header Style ———---*/
.scroller {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: var(--main-color);
  z-index: 3;
}
header {
  background-color: white;
  box-shadow: 0 0 10px #eee;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

@media (max-width: 767px) {
  header .container {
    justify-content: center;
  }
}
header .logo {
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}
header .main-nav {
  display: flex;
}

header .main-nav > li > a {
  padding: 0 20px;
  font-size: 1.2rem;
  height: 72px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: var(--transition);
}

@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 0 10px;
    font-size: 14px;
    height: 40px;
  }
}
header .main-nav > li > a:hover {
  background-color: #eee;
}

header .main-nav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  transition: var(--transition);
}
header .main-nav > li > a:hover::before {
  left: 0;
}
header .mega-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  width: 100%;
  padding: 20px;
  gap: var(--gap);
  background-color: white;
  box-shadow: 0 0 10px #eee;
  border-bottom: 3px solid var(--main-color);
  transition: var(--transition);
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
header .container .show {
  opacity: 1;
  visibility: visible;
  top: 100%;
  z-index: 2;
}
header .mega-menu img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .mega-menu .image {
    display: none;
  }
}

header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
@media (max-width: 767px) {
  header .mega-menu .links {
    width: 100%;
  }
}

header .mega-menu li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #eee;
  }
}
header .mega-menu li a {
  display: block;
  padding: 20px;
  position: relative;
  font-size: 1.2rem;
  color: var(--main-color);
  transition: var(--transition);
}
@media (max-width: 767px) {
  header .mega-menu li a {
    padding: 10px;
    font-size: 1rem;
  }
}
header .mega-menu li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #eee;
  transition: var(--transition);
}
header .mega-menu li a:hover::before {
  width: 100%;
}

header .mega-menu li a i {
  margin-right: 10px;
}
/*---———End Header Style———---*/
/*---———Start Landing Style———---*/
.landing .container {
  display: flex;
  align-items: center;
  gap: var(--gap);
  min-height: calc(100vh - 72px);
  padding-bottom: 100px;
  position: relative;
}
@media (max-width: 767px) {
  .landing .container {
    min-height: calc(100vh - 90px);
  }
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 100%;
  background-color: var(--alt-color);
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -1;
}
.landing .container .text {
  flex: 1;
}
@media (max-width: 767px) {
  .landing .container .text {
    text-align: center;
  }
}
.landing .container .text h1 {
  letter-spacing: -2px;
  font-size: 40px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .landing .container .text h1 {
    font-size: 28px;
  }
}
.landing .container p {
  font-size: 22px;
  line-height: 1.7;
  opacity: 0.8;
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .container .text p {
    font-size: 18px;
    margin: auto;
  }
}
.landing .container .image {
  width: 600px;
  flex: 1;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width: 767px) {
  .landing .container .image {
    display: none;
  }
}
.landing .container .image img {
  width: 100%;
  -webkit-filter: drop-shadow(10px 8px 15px rgb(0 0 0 / 65%));
  -moz-filter: drop-shadow(10px 8px 15px rgb(0 0 0 / 65%));
  filter: drop-shadow(10px 8px 15px rgb(0 0 0 / 65%));
}

.landing .bouncing {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition);
  animation: bouncing 1.5s infinite;
}
.landing .bouncing:hover {
  color: #0068bd;
}
/*---——— End Landing Style ———---*/

@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}